

* {
    padding: 0;
    margin: 0;
}
.overlaybox {
    width:200px;
    height:120px;
    border: 1px solid gray;
    padding: 6px 4px 4px 4px;
    
}

.overlaybox .box__image {
    width: 80px;
    height: 80px;
}

.box__title {
    width: 100%;
    border-bottom: 1px solid gray;
    font-weight: bold;
    color: #f00000;
}


.group {
    display: flex;
    margin: 10px 4px;
    
}

.box__image .object-fit {
    
    width: 80px;
    height: 80px;
    object-fit: cover;
}




.box__price {
    position: relative;
    color: #f00000;
    width: 100%;
    margin-left: 10px;
}

.box__price i {
    position: absolute;
    right: 0;
    bottom: 0;
}

.box__price i:hover {
    color: blue;
}