<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.BoardMapper">
	<insert id="boardInsert" parameterType="BoardDTO">
      <![CDATA[
      		INSERT INTO ITEM
      		VALUES(SEQ_ITEM.NEXTVAL,#{userid},#{title},#{price},#{images},#{description},#{category},#{success},NULL,0,SYSDATE)
      ]]>
	</insert>
	
	<select id="getBoardList" parameterType="hashmap" resultType="BoardDTO">
		<![CDATA[
         SELECT IID,USERID,TITLE,PRICE,IMAGES,DESCRIPTION,CATEGORY,SUCCESS,BID,HIT,TO_CHAR(LOGTIME,'YYYY.MM.DD')AS LOGTIME
         FROM (SELECT ROWNUM RN, AA.* 
               FROM (SELECT * FROM ITEM ORDER BY IID DESC)AA)
         WHERE RN>=#{startNum} AND RN<=#{endNum}
      ]]>
	</select>
	
	<select id="getTotalArticle" resultType="java.lang.Integer">
		<![CDATA[
			SELECT COUNT(*) FROM ITEM
		]]>
		
	</select>
	
	
	<update id="updateHit" parameterType="java.lang.Integer">
		<![CDATA[
			UPDATE BOARD SET HIT=HIT+1 WHERE SEQ=#{seq}
		]]>
	</update>
	
	<select id="getBoard" parameterType="java.lang.Integer" resultType="BoardDTO">
		<![CDATA[
			SELECT * FROM ITEM WHERE IID=#{iid}
		]]>
	</select>
	
	<update id="boardUpdate" parameterType="BoardDTO">
      <![CDATA[
         UPDATE BOARD SET SUBJECT=#{subject},CONTENT=#{content},EMAIL=#{email} WHERE SEQ=#{seq}
      ]]>
   </update>
   <update id="boardDelete" parameterType="java.lang.Integer">
   		<![CDATA[
			DELETE FROM ITEM WHERE IID=#{iid}
		]]>
   </update>
   
   <select id="getBoardSearchList" parameterType="hashmap" resultType="BoardDTO">
		<![CDATA[
         SELECT IID,USERID,TITLE,PRICE,IMAGES,DESCRIPTION,CATEGORY,SUCCESS,BID,HIT,TO_CHAR(LOGTIME,'YYYY.MM.DD')AS LOGTIME
         FROM (SELECT ROWNUM RN, AA.* 
               FROM (SELECT * FROM ITEM ORDER BY IID DESC)AA)
         WHERE (UPPER(TITLE) LIKE#{title}) OR (UPPER(CATEGORY) LIKE#{category}) OR (UPPER(DESCRIPTION) LIKE#{description})
        
      ]]>
	</select>
</mapper><!--getBoardSearchList의 마지막 where절 수정 WHERE RN>=#{startNum} AND RN<=#{endNum} AND ((UPPER(TITLE) LIKE#{title}) OR (UPPER(CATEGORY) LIKE#{category}) OR (UPPER(DESCRIPTION) LIKE#{description})) -->