@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*board page*/
* {
  font-family: "Roboto", sans-serif;
}
.board {
  width: 100%;
  padding: 0.65rem;
  text-align: center;
}
.textbox_1{
	padding-bottom:10px;
	text-align:center;
}
a {
  text-decoration: none;
}
.menu {
  background-color: rgb(194, 155, 117);
}

.board_nav {
  background-color: rgb(194, 192, 192);
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
button {
  border-color: rgb(131, 119, 119);
  border-top: solid 1px;
  border-bottom: solid 1px;
  width: 60px;
  height: 30px;
  font-size: 20px;
}
.board_text {
  width: 100%;
  text-align: center;
}

/* 글쓰기 css */

h1 {
  letter-spacing: 13px;
padding-top:10px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
}

.textbox {
	height:90%;
  text-align: center;
  padding: 1rem;
  margin-right: auto;
  margin-left:auto;
}

.div_title{
  padding-bottom: 1em;
}

.title {
  width: 60%;
  height: 70px;
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
  background-color: inherit;
  text-align: left;
}

.textinput {
  width: 60%;
  min-height: 400px;
  padding: 10px;
  font-size: 1.2rem;
  text-align: left;
  background-color: inherit;
}


.imgs_wrap {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  border: 1px solid gray;
  padding: 10px;
  box-sizing: content-box;
  margin-bottom: 20px;
  overflow: auto;
}

.imgs_wraps {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  border: 1px solid gray;
  padding: 10px;
  box-sizing: content-box;
  margin-bottom: 20px;
}

.imgs_wrap .img_item {
  width: 150px;
  padding: 10px;
  margin-right: 10px;
}

.imgs_wrap .img_item img {
  width: 100%;
}

.imgs_wraps .img_item {
  width: 150px;
  padding: 10px;
  border: 1px solid black;
  margin-right: 10px;
}

.imgs_wraps .img_item imgs {
  width: 100%;
}

.div_main {
  display: flex;
  align-items: center;
}

h2 {
  text-align: left;
  letter-spacing: 8px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: normal;
}

.picture {
  border: 1px;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.my_button {
  text-decoration: none;
  text-align: center;
  border: 2px solid #f7ca18;
  font-family: "Noto Sans KR", sans-serif;
  color: gray;
  padding: 5px;
  cursor: pointer;
  border: 2px solid #f7ca18;

  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.my_button:hover {
  color: #000 !important;
  background-color: #f7ca18;
}

a:before {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: "";
  color: #000 !important;
  background: #f7ca18;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.picturein {
  padding: 8px;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#rightbtn {
  padding-right: 20px;
}

.masterBtn {
  width: 200px;
  height: 50px;
  font-size: medium;
  font-family: "Noto Sans KR", sans-serif;
  color: gray;
  padding: 5px;
  cursor: pointer;
  border: 2px solid #f7ca18;
  background-color: transparent;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.masterBtn:hover {
  color: #000 !important;
  background-color: #f7ca18;
}

.masterBtn:hover:before {
  bottom: auto;
  height: 100%;
}

.masterBtn:before {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: "";
  color: #000 !important;
  background: #f7ca18;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
