@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
/*board page*/
   .board {
      width: 100%;
     padding: 0.65rem;

  }

  .menu {
     background-color: antiquewhite;
  }

  .board_nav {
     <!-- width: 100%;
     text-align: center; -->

  }